<!doctype html>
<html class="h-100" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="/Rewynd/proj_rewind/rewyndapp/static/rewyndapp/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Rewynd/proj_rewind/rewyndapp/static/rewyndapp/custom.css">


    <title> All the tweets </title>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/rewyndapp/">RewyndApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/rewyndapp/programs/">Programs</a>
      <a class="nav-item nav-link" href="/rewyndapp/about/">About</a>
    </div>
  </div>
</nav>
</br>

    <h1 class="text-center">Your Tweets</h1>



    <div class="container border">
      <div class="d-flex flex-column align-items-center">

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Kimberly Bryant</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@6Gems</p>
              <p class="card-text">Love that the producers at #InsecureHBO are dipping into this non-profit white savior storyline. It&#39;s real.</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="icone" style="filter:invert(0.8) ; height:1rem" src="/Rewynd/proj_rewind/rewyndapp/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">1414</div>
                <img class="iconer" src="/Rewynd/proj_rewind/rewyndapp/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">4518</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Natasha Rothwell</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@natasharothwell</p>
              <p class="card-text">I hope this clears it up: Dro&#39;s wife KNOWS about Molly. He&#39;s not shady, he&#39;s poly. ¯\_(ツ)_/¯ #INSECUREHBO</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="icone" style="filter:invert(0.7) ; height:1rem" src="/Rewynd/proj_rewind/rewyndapp/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">633</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">1454</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">INSECUREHBO</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@insecurehbo</p>
              <p class="card-text">How we chillin this weekend, knowing a new episode of #InsecureHBO comes on tomorrow. https://t.co/5wtPsV4FZU</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">198</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">1148</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Saweetie</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@Saweetie</p>
              <p class="card-text">ICY GRL ❄️ on #InsecureHBO!! 😩🤸🏽‍♀️💙 https://t.co/cJ6VjlD730</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">618</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">4057</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">INSECUREHBO</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@insecurehbo</p>
              <p class="card-text">Who&#39;s ready for a new #InsecureHBO tonight at 10:30? https://t.co/99d4pawJCg</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">65</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">204</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Natasha Rothwell</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@natasharothwell</p>
              <p class="card-text">Happy @InsecureHBO day! Who’s ready for #InsecureHBO tonight? I’ll be live-tweeting with more of the cast at 10:30P… https://t.co/HCQa2IMzHg</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">25</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">134</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">king crissle</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@crissles</p>
              <p class="card-text">Music on #InsecureHBO is second to none. 🔥🔥🔥🔥</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">1480</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">4062</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Capri Sun</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@Capri_Sun</p>
              <p class="card-text">Your #InsecureHBO Party Lyft has arrived! Use code “CapriSun” to turn your @Lyft cars into Fruit Frenzy pouches in… https://t.co/InEDgxlRtJ</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">28</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">93</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">king crissle</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@crissles</p>
              <p class="card-text">Beware of anyone who doesn&#39;t respect the boundaries you try to establish. #InsecureHBO</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">4381</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">10155</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Natasha Rothwell</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@natasharothwell</p>
              <p class="card-text">&quot;Don&#39;t talk about what me and my wife do.&quot;
 #INSECUREHBO https://t.co/y5cdD9qUgH</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">2634</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">5925</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">INSECUREHBO</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@insecurehbo</p>
              <p class="card-text">Things are just heating up.

Preview the next episode of #InsecureHBO, Sunday at 10:30PM on @HBO. https://t.co/iRjgoLbCsD</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">83</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">318</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">petty wap🍑</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@tashablvck</p>
              <p class="card-text">Daniel is a bit of me #InsecureHBO</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">0</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">0</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">INSECUREHBO</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@insecurehbo</p>
              <p class="card-text">Happy #InsecureHBO Season 3 Premiere Day!

We’re preparing to get our glow on with @IssaRae and more of the cast an… https://t.co/LiRqgvrAZQ</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">2089</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">5385</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Duckie✨</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@thaaatYAYO</p>
              <p class="card-text">RT @MsWhitneyYates: #InsecureHBO 🍷</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">1</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">0</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Westside Whit 🌴</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@MsWhitneyYates</p>
              <p class="card-text">#InsecureHBO 🍷</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">1</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">0</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Prentice Penny</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@The_A_Prentice</p>
              <p class="card-text">Tonight....I just wanna take you there... to #insecurehbo episode twooooo directed by @petechatmon https://t.co/RPRqL9nbW9</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">13</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">59</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">𝚜𝚞𝚓𝚊𝚝𝚊 𝚍𝚊𝚢</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@sujataday</p>
              <p class="card-text">We Got Y’all squad is back TONIGHT on #InsecureHBO we’ll be live tweeting with cast &amp;amp; crew at 10:30pm! https://t.co/slRLz6yeKy</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">9</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">119</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Issa Rae</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@IssaRae</p>
              <p class="card-text">The #InsecureHBO 301 playlist is available on @Spotify now!

https://t.co/0j5mUJmPza</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">1403</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">4438</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Tisha ❤</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@QueenLaTisha_</p>
              <p class="card-text">Thirsty for #insecurehbo tonight @IssaRae</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">0</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">0</div>
            </div>
          </div>

          <div class="card w-100">
            <div class="card-body p-2">
              <p class="h6 card-title d-inline-flex mb-1">Maya</p>
              <p class="h6 card-subtitle d-inline-flex text-muted">@Maya_Adachi</p>
              <p class="card-text">I love this episode of #InsecureHBO after #Ballers starts tonight on HBO. Turnt up!!!</p>
            </div>
            <div class="card-footer text-muted p-1 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="/static/rewyndapp/images/loop-square.svg" alt="loop-square">
                <div class="m-1 mr-3">0</div>
                <img class="iconer" src="/static/rewyndapp/images/heart.svg" alt="loop-square">
                <div class="m-1">0</div>
            </div>
          </div>

      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/Rewynd/proj_rewind/rewyndapp/static/rewyndapp/bootstrap.min.js"></script>

  </body>
</html>
