{% extends "rewyndapp/a_base.html" %}
{% block head %} {{ block.super }}
<style>
body {
  background-image: linear-gradient(to top, #efefef 0%, #f7f7f7 75%, #ffffff 100%);
}


</style>
 {% endblock head %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0">
  <a class="navbar-brand" href="{% url 'rewyndapp:index' %}">RewyndApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'rewyndapp:programs_page' %}">Programs</a>
      <a class="nav-item nav-link" href="{% url 'rewyndapp:about_page' %}">About</a>
    </div>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-2 py-2" style="font-size:0.9rem">
    {% block breadcrumb %}{% endblock breadcrumb %}
  </ol>
</nav>
{% endblock header %}
{% block title %} {{ block.super }} {% endblock title %}
{% block h1 %} {{ block.super }} {% endblock h1 %}
{% block content %} {{ block.super }} {% endblock content %}
{% block scripts %} {{ block.super }} {% endblock scripts %}
