{% extends "rewyndapp/a_base.html" %}
{% block header %} {{ block.super }} {% endblock header %}
{% block title %} RewyndApp | Rewynd Your Life {% endblock title %}
{% block bodytag %}<body id="bgindex">{% endblock bodytag %}
{% block h1 %}{% endblock h1 %}
{% block content %}
  <div class="container-fluid h-100 d-flex flex-column justify-content-center">
    <div class="row align-items-center">
      <div class="col">
        <h1 id="title_text" class="display-1 text-center text-white" style="text-shadow: 0px 0px 10px #FFFFFF">Rewynd Your Life<h1>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="text-center col">
        <a class="btn btn-secondary btn-lg" href="{% url 'rewyndapp:programs_page' %}" role="button">Enter Site</a>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
<script>jQuery("#title_text").fitText(1, {minFontSize: '50px', maxFontSize: '100px'});</script>
{% endblock scripts %}
