{% extends "rewyndapp/b_base_nav.html" %}

{% block header %} {{ block.super }} {% endblock header %}
{% block title %}About Us{% endblock title %}
{% block bodytag %}<body class="h-100">{% endblock bodytag %}
{% block h1 %}{% endblock h1 %}
{% block content %}
<div class="container h-100 d-flex flex-column justify-content-center">
  <h1 class="text-center">About Us</h1>
  <p class="text-center">Thanks for checking out the app! We're constantly making improvements. If you have any suggestions please email us at rewyndapp@gmail.com !</p> {% endblock content %}
  </div>
{% block scripts %} {{ block.super }} {% endblock scripts %}
