{% extends "rewyndapp/b_base_nav.html" %}

{% block title %}Tweets for: {{tweet_list.0.episode.episode_name}}{% endblock title %}
{% block header %} {{ block.super }} {% endblock header %}
{% block h1 %}<h1 class="text-center mt-2 mb-0 restext_title">Tweets for: {{tweet_list.0.episode.episode_name}}</h1>{% endblock h1 %}
{% block content %}
  {% load static %}
  {% load custom_tags %}
  <div class="container p-0" style="max-width: 600px">
  {% if tweet_list %}
  <!-- TIME SLIDER -->
    <div class="container">
      <div class="row mx-0 mb-1 py-2" >
        <div class="col-auto pr-2 pl-0 clocks restext_1" id="clock1">0:00:00</div>
        <div class="col p-0 my-auto">
          <input type="range" class="slider my-auto" id="timeslider" min="0" max="{{tweet_list.0.episode.episode_len|interval|add:sdelta}}" value=0>
        </div>
        <div class="col-auto pr-0 pl-2 clocks restext_1" id="clock2">-0:45:00</div>
      </div>
    </div>
    <!-- CONTROL BUTTONS -->
      <div class="container mb-2">
        <div class="m-auto row">
        <button type="button" class="mybutton blue1 col-auto mr-2" id="control-back" onclick="skipBack()">
          <img class="iconer2" src="{% static 'rewyndapp/images/media-skip-backward.svg' %}" alt="skip-backward">
        </button>
        <button type="button" class="mybutton blue1 col" id="play_pause" onclick="toggleTime()">
            Play
        </button>
        <button type="button" class="mybutton blue1 col-auto ml-2" id="control-forward" onclick="skipForward()">
          <img class="iconer2" src="{% static 'rewyndapp/images/media-skip-forward.svg' %}" alt="skip-forward">
        </button>
      </div>
    </div>
    <!-- TWEET CONTENT -->
    <div class="container">
      <div class="d-flex flex-column-reverse align-items-center">
        {% for tweet in tweet_list %}
          <div class="card w-100 pb-0 mb-2 tweetcard restext_2" style="display:none" time_stamp="{{ tweet.interval|interval  }}" id="time-{{ tweet.interval|interval  }}" >
            <div class="card-body px-2 pt-2 pb-0">
              <p class="h6 card-title d-inline-flex mb-1 restext_1">{{ tweet.tweeter.name }}</p>
              <p class="h6 card-subtitle d-inline-flex text-muted restext_1">@{{ tweet.tweeter.screen_name }}</p>
              <p class="card-text mb-1">{{ tweet.text }}</p>
              {% if tweet.has_media %}
                {% if tweet.media_type == "photo" %}
                <img src="{{tweet.media_image_url}}" class="my-1 my-md-2 twitmedia" alt="{{tweet.media_image_url}}">
                {% else %}
                <video class="my-1 my-md-2 twitmedia" alt="{{tweet.media_image_url}}" autoplay loop muted>
                  <source src="{{tweet.media_image_url}}" type="video/mp4"/>
                </video>
                {% endif %}
              {% endif %}
            </div>
            <div class="text-muted py-0 pl-2 d-flex flex-row align-items-center">
                <img class="iconer" src="{% static 'rewyndapp/images/loop-square.svg' %}" alt="loop-square">
                <div class="m-1 mr-3">{{ tweet.retweets }}</div>
                <img class="iconer" src="{% static 'rewyndapp/images/heart.svg' %}" alt="heart">
                <div class="m-1 mr-3">{{ tweet.favorites }}</div>
                <img class="iconer" src="{% static 'rewyndapp/images/clock.svg' %}" alt="clock">
                <div class="m-1">{{ tweet.interval }}</div>
            </div>
          </div>
        {% endfor %}
              <div class="card w-100 pb-0 mb-2 tweetcard restext_2" time_stamp="0" id="preview" >
                <div class="card-body px-2 pt-2 pb-0">
                  <p class="h6 card-title d-inline-flex mb-1 restext_1">Rewynd</p>
                  <p class="h6 card-subtitle d-inline-flex text-muted restext_1">@rewynd_app</p>
                  <p class="card-text mb-1">Ready to begin? Hit play to start! The first tweet is at {{ tweet_list.0.interval }}</p>
                </div>
                <div class="text-muted py-0 pl-2 d-flex flex-row align-items-center">
                    <img class="iconer" src="{% static 'rewyndapp/images/loop-square.svg' %}" alt="loop-square">
                    <div class="m-1 mr-3">323</div>
                    <img class="iconer" src="{% static 'rewyndapp/images/heart.svg' %}" alt="heart">
                    <div class="m-1 mr-3">213</div>
                    <img class="iconer" src="{% static 'rewyndapp/images/clock.svg' %}" alt="clock">
                    <div class="m-1">0:00:00</div>
                </div>
            </div>
      </div>
    </div>

  {% else %}
    <p>Tweets for this episode coming soon!</p>
  {% endif %}
</div>
{% endblock content %}
{% block scripts %}{{ block.super }}
    <script>

    var sec_ms = 1000;
    var min_ms = 1000*60;
    var hour_ms = 1000*60*60;
    var day_ms = 1000*60*60*24;

    // adds leading zeros for time formatting
    function zeroPad(num, places) {
      var zero = places - num.toString().length + 1;
      return Array(+(zero > 0 && zero)).join("0") + num;
    }

    // formats milliseconds to time
    function formatTime(t) {
      var days = Math.floor(t/day_ms);
      var hours = Math.floor((t % day_ms)/hour_ms);
      var minutes = Math.floor((t % hour_ms)/min_ms);
      var seconds =  Math.floor((t % min_ms)/sec_ms);

      return hours + ':' + zeroPad(minutes,2) + ':' + zeroPad(seconds,2)
    }

    // Code for updating the clocks as the slider moves
    var duration_min = ({{ tweet_list.0.episode.episode_len|interval }}+{{sdelta}})/60/1000;
    var slider = $("#timeslider");
    var start_time = $("#clock1");
    var remain_time = $("#clock2");
    var tweetc = $(".tweetcard");
    //start_time.innerHTML = formatTime(slider.val()); // display default slider value

    // functions for updating the clock values with the slider value
    function updateClock1(){
      $("#clock1").html(formatTime(slider.val()));
    }

    function updateClock2(){
      $("#clock2").html("-" + formatTime(duration_min*min_ms - slider.val() ));
    }

    // Update clocks and toggle tweets
    function updateAll(){
      updateClock1();
      updateClock2();
      toggleTweet();
    }


    // Update the clock values when you you drag the slider handle
    slider.on('input', function(){
      updateAll();
    })

    // toggles the timer on and off
    var timer_on = 0;
    var timer;
    function toggleTime() {
      if (timer_on == 1) {
        timer_on = 0;
        clearInterval(timer);
        $("#play_pause").html("Play");
      } else {
        timer_on = 1;
        timer = setInterval(incrementTime, 1000);
        $("#play_pause").html("Pause");
      };
    }

    // increments slider value by one second each seconds
    function incrementTime() {
      if (Number(slider.val()) < Number(slider.attr('max'))) {
        var x = Number(slider.val()) + 1000;
        slider.val(x);
        slider.attr('value',x);
        updateAll();
      }
    }

    // increments slider value by 15 seconds
    function skipForward() {
        var x = Math.min(Number(slider.val()) + 15000,{{tweet_list.0.episode.episode_len|interval|add:sdelta}});
        slider.val(x);
        slider.attr('value',x);
        updateAll();
    }

    // decreases slider value by 15 seconds
    function skipBack() {
        var x = Math.max(Number(slider.val()) - 15000,0);
        slider.val(x);
        slider.attr('value',x);
        updateAll();
    }

    // shows or hides the tweet depending on the timestamp
    function toggleTweet() {
      var x_hide = tweetc.filter(function(index) {
        return Number($(this).attr("time_stamp")) <= Number(slider.val());
      }).slideDown();
      var x_show = tweetc.filter(function(index) {
        return Number($(this).attr("time_stamp")) > Number(slider.val());
      }).hide();
    }

    // testing function
    function showT() {
      $("#time-40000").slideDown();
    }
    </script>
{% endblock scripts %}
